
.head_bar_main {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid rgba(71, 71, 73, 0.42);
    overflow: hidden;
}

.head_bar_main_item {
    display: block;
    position: relative;
    width: fit-content;
    height: 100%;
    padding: 0;
    line-height: 50px;
    margin: 0 50px 0 0;
}

.head_bar_main_item h1 {
    padding: 0;
    margin: 0;
}

.head_bar_menu_bar_bt {
    display: none;
    position: relative;
    /*margin-left: 20px;*/
    width: fit-content;
    height: 50px;
    margin: 0 20px 0 0;
}

.head_bar_menu_bar_bt button {
    position: relative;
    display: block;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: unset;
    outline: unset;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.head_bar_menu_bar_bt button:hover {
    background-color: #282c34;
    border-radius: 5px;
    fill: white;
}

.head_bar_menu_bar_bt svg {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.head_bar_uttilis {
    display: flex;
    flex-direction: row;
    position: relative;
    float: left;
    margin-left: 20px;
}

.head_bar_user_info {
    float: right;
    display: flex;
    flex-direction: row;
}

.head_bar_user_info_buttons {
    position: relative;
    display: block;
    top: 50%;
    transform: translate(0, -50%);
    height: 30px;
    width: 30px;
    margin-right: 5px;
    cursor: pointer;
}

.head_bar_user_info_buttons button, .head_bar_user_info_buttons a {
    background-color: transparent;
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    outline: unset;
    border: unset;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.head_bar_user_info_buttons:hover {
    background-color: #282c34;
    border-radius: 10px;
    fill: white;
}

.head_bar_user_info_buttons svg {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.head_bar_user_info a {
    display: block;
}

.head_bar_main_item_profile {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    border: 1px solid #282c34;
    border-radius: 50px;
    overflow: hidden;
    top: 50%;
    transform: translate(0%, -50%);
}

.head_bar_main_item_profile img {
    position: absolute;
    display: block;
    width: auto;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.head_bar_user_profile_button {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: fit-content;
    cursor: pointer;
}

.head_bar_user_profile_button svg {
    display: block;
    position: relative;
    top: 50%;
    left: 5px;
    transform: translate(0, -50%);
}

.head_bar_user_utilis {
    position: fixed;
    display: block;
    z-index: 2;
    top: 50px;
    right: 50px;
    width: 180px;
    height: fit-content;
    padding: 15px 0 5px 0;
    /*border: 1px solid #282c34;*/
    background-color: white;
    border-radius: 1px;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 10px -1px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 10px -1px rgba(66, 68, 90, 1);
}

.head_bar_user_utilis_item {
    position: relative;
    display: block;
    width: 90%;
    height: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
    margin-bottom: 10px;
    color: black;
}

.head_bar_user_utilis_item:hover {
    background-color: #282c34;
    border-radius: 5px;
    fill: white;
    color: white;
}

.head_bar_user_utilis_item a {
    display: block;
    position: relative;
    text-align: left;
    float: right;
    width: 75%;
    height: 100%;
    line-height: 30px;
    font-size: 14px;
}

.head_bar_user_utilis_item svg {
    position: absolute;
    display: block;
    width: 25px;
    height: 100%;
    left: 5px;
    top: 50%;
    transform: translate(0, -50%);
}

.head_bar_user_utilis_line {
    position: relative;
    display: block;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 5px 0 5px 0;
    width: 90%;
    height: 1px;
    background-color: rgba(71, 71, 73, 0.42);
}

@media (max-width: 1000px) {
    .head_bar_menu_bar_bt {
        display: block;
    }
}

@media (max-width: 800px) {
    #head_bar_header_text {
        display: none;
    }
}

@media (max-width: 450px) {
    .head_bar_user_info_buttons, #head_bar_user_profile_name {
        display: none;
    }
}